.all-tasks {
  width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
  padding: .5rem 0;
}

.all-tasks div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.all-tasks button {
  font-size: 15px;
  color: white;
  background-color: rgba(68, 72, 82, 1);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  opacity: 0;
  transform: translateY(10px);
}

.task:hover button {
  background-color: rgba(68, 72, 82, 1);
  transform: translateY(0px);
  opacity: 1;
}


.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333F4A ;
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.task:hover {
  transform: translateY(-0.25rem);
  transition: all 0.5s ease;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.check {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: #181F28;
  border: 1px #ddd solid;
  margin-right: 4px;
}


.all-tasks p {
  color: white;
  text-align: center;
}

/*293240*/