.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100vh;
    position: sticky;
    padding: 1rem 2rem;
    border-right: 1px solid #525252;
    color: black;
}

.sideBar nav {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

.sideBar nav h2 {
    padding: 0.5rem 0;
}

.link {
    border-radius: 10px;
    transition: all 0.5s linear;
    padding: 1rem;
    margin: 0.25rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: rgba(117, 127, 148, 0.295);
}

.link span {
    background-color: #B3B3B3;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.theme {
    display: flex;
    justify-content: center;
    align-items: center;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #CACACA;
    width: 250px;
    height: 70px;
    border-radius: 15px;
    position: relative;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    width: 100%;
}

.checkbox-label .ball {
    background-color: white;
    width: 50%;
    height: 85%;
    position: absolute;
    left: 0;
    border-radius: 15px;
    margin: 10px 5px;
    transition: transform 0.2s linear;
    text-align: center;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(90%);
}

/*.....................light mode ....................*/
.lightSideBar {
    color: black;
    border-right: 1px solid #bbbbbb;

}

.lightLink p {
    color: black;
}

.lightLink:hover {
    background-color: rgba(117, 127, 148, 0.295);
}

.lightLink span {
    background-color: #B3B3B3;
}


.light-checkbox-label {
    background-color: #CACACA;
}

.light-checkbox-label .light-ball {
    background-color: white;
}




/*...............dark mode................*/
.dark-link span {
    background-color: rgba(68, 72, 82, 1);
    color: white;
}

.darkSideBar {
    color: white;
}

.dark-link p {
    color: white;
}

.dark-link:hover {
    background-color: rgba(126, 138, 163, 0.07);
}

.dark-checkbox-label {
    background-color: rgba(41, 50, 64, 1);
}

.dark-checkbox-label .dark-ball {
    background-color: rgba(51, 63, 74, 1);

}